<div>
    <div>
        <h1 style="text-align: center; font-size: 35px;">
            Bienvenu dans l'univers Pangolins! 
        </h1>

    <div style="display: flex; margin-top: 50px;">
        <div style=" margin: auto; width: 260px; display: block;">
            <div>
                <h1 style=" font-size: 30px; text-align: center;">
                    Ajoutes des Amis!
                </h1>
            </div>
            <div>
                <p style="font-size: 20px; text-align: center; margin-bottom: 175px;">
                   La vie de Pangolin est plus fun avec des amis!
                </p>
            </div>
        </div>
    </div>
</div>
<div style="margin-top: 77px; margin-bottom: -115px;"></div>