<div style="margin-top: 30px; margin-bottom: 200px">
  <div style="text-align: center">
    <h1 style="font-size: 35px">Bienvenu Pangolin {{ namee }}</h1>
  </div>

  <div style="width: 500px; margin-left: 590px;">
    <table class="table" >
      <thead>
        <tr>
          <th>Rôle</th>
          <th> Amis</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{rolee}}</td>  
          <ng-container *ngIf="taille()" >
            {{mess}}
          </ng-container>
          <div style="display: flex;" *ngFor="let item of nameList ">
          <td><p>{{item.name}} </p></td>
          <div style="pointer-events: auto; margin-top: 8px;" (click)="deleteFriend(Id)">
            ⛔
          </div>
        </div>
        </tr>
      </tbody>
    </table>
  </div>

  <div style="margin-top: 20px; display: flex">
    <div style="width: 300px; margin-left: 600px; margin-right: 300px">
      <h1 style="font-size: 25px">Modifier votre rôle</h1>
      <form #upadateForm="ngForm">
        <div class="field">
          <label class="label">Rôle</label>
          <div class="control">
            <div class="select">
              <select
                [(ngModel)]="formData.role"
                #role="ngModel"
                name="role"
                required
              >
                <option></option>
                <option value="Sorcier">Sorcier</option>
                <option value="Alchimiste">Alchimiste</option>
                <option value="Guerrier">Guerrier</option>
                <option value="Enchanteur">Enchanteur</option>
                <option value="Espion">Espion</option>
              </select>
            </div>
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button
              class="button is-link"
              (click)="update()"
              type="submit"
              [disabled]="!upadateForm.form.valid"
            >
              Modifier
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div style="margin-bottom: -52px"></div>
</div>
